<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo list app</title>
  <link href="/css/Todolist v1 Starting Styles/Todolist v1 Starting Styles/styles.css" rel="stylesheet" type="text/css">
  <script src="/app2.js"></script>
</head>
