<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo list app</title>
    <script src="../public/app2.js"></script>
  </head>
  <body>
    <% 
    if (day == "Saturday" || day == "Sunday") { %>
      <h1 style="color:rgb(246, 124, 17)"><%=day %> Todo list</h1>
      <% }else{ %>
      <h1 style="color:rgb(246, 17, 17)"><%=day %> To do list</h1>
      <% }   %>
      
      
      
    %> 
    <ul id ="list">
    <%
  let getHtml=(list)=>{
  var ht=""
  for (var i=0; i<list.length; i++){%>
   <li><%=list[i]%></li>
  <%}

};
getHtml(l1);
    
    
    %>
    </ul>
    <form action="/" method="post">
    <input type="text" name="InputItem">
    <button type="submit" name="button">Add</button>  
      
    </form>

  </body>
</html>
